@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	background-color:black;
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Assets */
/* .image-wrap {
position:relative;
width:100%;
margin:0 auto;
overflow:hidden;
}
.image-wrap.small .background{
background:url(images/wood.jfif) no-repeat;
background-size:0vw;
width:2560px;
height:1330px;
position:relative;
} */

.image-wrap.small .bulb1 a{
    background:url(images/lightbulbfrontpage.png) no-repeat center center;
    background-size:contain;
    border:none;
    outline:none;
    position:absolute;
    width:8%;
    height:60%;
    left:15%;
    bottom:35%;
    z-index: 3;
    opacity:0.3;
    animation: pendulum 10s infinite cubic-bezier(0.65, 0.440, 0.445, 0.950);
     -webkit-animation: pendulum 10s infinite cubic-bezier(0.650, 0.440, 0.445, 0.950);
    transform-origin:center bottom;
    }

.image-wrap.small .bulb-text{
    position:absolute;
    bottom:13%;
    left:30%;
    visibility:hidden;
    color:black;
}

.bulb1:hover .bulb-text{
    visibility:visible;
}
    


.image-wrap.small .bulb2 a{
background:url(images/lightbulbfrontpage.png) no-repeat center center;
background-size:contain;
border:none;
outline:none;
position:absolute;
width:8%;
height:60%;
left:35%;
bottom:35%;
z-index: 2;
opacity:0.25;
animation: pendulum 9s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
   -webkit-animation: pendulum 9s infinite cubic-bezier(0.310, 0.440, 0.445, 1.650);
  transform-origin:center top;
}

.image-wrap.small .bulb2-text{
    position:absolute;
    bottom:13%;
    left:25%;
    visibility:hidden;
    color:black;
}

.bulb2:hover .bulb2-text{
    visibility:visible;
}

.image-wrap.small .bulb3 a{
background:url(images/lightbulbfrontpage.png) no-repeat center center;
background-size:contain;
border:none;
outline:none;
position:absolute;
width:8%;
height:60%;
left:55%;
bottom:35%;
z-index: 1;
opacity:0.2;
animation: pendulum 10s infinite cubic-bezier(0.310, 0.300, 0.297, 0.300);
   -webkit-animation: pendulum 10s infinite cubic-bezier(0.310, 0.300, 0.297, 0.300);
transform-origin:center right;
}

.image-wrap.small .bulb3-text{
    position:absolute;
    bottom:13%;
    left:25%;
    visibility:hidden;
    color:black;
}

.bulb3:hover .bulb3-text{
    visibility:visible;
}

.image-wrap.small .bulb4 a{
    background:url(images/lightbulbfrontpage.png) no-repeat center center;
    background-size:contain;
    border:none;
    outline:none;
    position:absolute;
    width:8%;
    height:60%;
    left:75%;
    bottom:35%;
    z-index: 1;
    opacity:0.3;
    animation: pendulum 8s infinite cubic-bezier(0.100, 0.100, 0.101, 0.100);
       -webkit-animation: pendulum 8s infinite cubic-bezier(0.100, 0.100, 0.101, 0.100);
    transform-origin:center bottom;
    }

.image-wrap.small .bulb4-text{
        position:absolute;
        bottom:13%;
        left:37%;
        visibility:hidden;
        color:black;
    }
    
.bulb4:hover .bulb4-text{
        visibility:visible;
    }

.image-wrap.small .bulb1 a:hover{opacity:1}
.image-wrap.small .bulb2 a:hover{opacity:1}
.image-wrap.small .bulb3 a:hover{opacity:1}
.image-wrap.small .bulb4 a:hover{opacity:1}

/* Keyframes */
@-webkit-keyframes
pendulum {
    0%, 100% { transform: rotate(2deg); }
    25%, 75% { transform: rotate(-4deg); }
    50% { transform: rotate(4deg); }

}
/* pendulum1 {
    0%, 100% {transform: rotate(.6deg)};
    25%, 75% {transform: rotate(-1.2deg)};
    50% {transform: rotate(1.2deg)}; */

/* } */
@keyframes pendulum {
    0%, 100% { transform: rotate(2deg); }
    25%, 75% { transform: rotate(-4deg); }
    50% { transform: rotate(4deg); }

}
/* pendulum1 {
    0%, 100% { transform: rotate(.6deg); }
    25%, 75% { transform: rotate(-1.2deg); }
    50% { transform: rotate(1.2deg); }

} */

@media screen and (min-device-height:1330px){
    .image-wrap.small .background{
        display:block;
    }
}

@media screen and (min-device-height:1024px) and (max-device-height:1329px){
    .image-wrap.small .background{
        height: 1024px;
    }
}

@media screen and (min-device-height:960px) and (max-device-height:1023px){
    .image-wrap.small .background{
        height: 960px;
    }
}

@media screen and (min-device-height:852px) and (max-device-height:959px){
    .image-wrap.small .background{
        height: 852px;
    }
}

@media screen and (max-device-height:958px){
    .image-wrap.small .background{
        height: 600px;
    }
}